{
    "image_link" : {
        "B" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/Rang_B.webp",
        "E" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/Rang_E.webp",
        "C" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/Rang_C.webp",
        "A" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/Rang_A.webp",
        "D" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/Rang_D.webp",
        "S" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/Rang_S.webp",
        "LegendaryS" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/Legende.png",
        "treasureS" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/Treasure.png",
        "SpecialS" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/rare.png",
        "DivinityS" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/divinite.png",
        "Boss" : "https://hubble.quark-dev.com/wp-content/uploads/sites/2/2025/08/boss.png",
        "Shiny" : "https://example.com"

    },
    "emoji" : {
    "treasureS" : "Emoji markdown for Treasure",
    "B" : "Emoji markdown for B",
    "E" : "Emoji markdown for E",
    "C" : "Emoji markdown for C",
    "A" : "Emoji markdown for A",
    "D" : "Emoji markdown for D",
    "S" : "Emoji markdown for S",
    "DivinityS": "Emoji markdown for Divinity",
    "LegendaryS": "Emoji markdown for Legendary",
    "SpecialS": "Emoji markdown for Special",
    "Boss": "Emoji markdown for Boss"
 }
}
